 <!-- Start Navigation -->
 <nav id="navigation" class="navigation sticky hover-dark dropdown-radius dropdown-arrows" data-offset="0">
    <!-- Navigation container - You can chnage container type and paddding value -->
    <div class="container nav-container">
        <!-- Row for cols in the nav -->
        <div class="row nav-wrapper">
            <!-- Column for logo -->
            <div class="col-2">
                <a href="#top" class="logo">
                    <img src="images/logos/logo-02-white.png" data-retina="images/logos/logo-02-white@2x.png" alt="website logo" class="logo-white">
                    <img src="images/logos/logo-02-dark.png" data-retina="images/logos/logo-02-dark@2x.png" alt="website logo" class="logo-dark">
                </a>
            </div>
            <!-- Column for Navigation -->
            <div class="col-10 nav-menu">
                <!-- Navigation links, you can add nav-links-centered class for centered links -->
                <ul class="nav-links">
                    <!-- Logo for mobile navigation -->
                    <li class="logo-for-mobile-navigation"><img src="images/logos/logo-white.png" data-retina="images/logos/logo-white@2x.png" alt="website logo" class="logo-white"></li>
                    <!-- Link -->
                    <li><a routerLink="Home" class="nav-link">Home</a></li>
                    <!-- Link, Sub menu -->
                    <li class="has-sub">
                        <a href="index.html#about" class="nav-link">Company</a>
                        <ul class="dropdown-menu to-right">
                            <li><a href="index.html#features" class="nav-link">Features</a></li>
                            <li><a href="index.html#history" class="nav-link">History</a></li>
                            <li><a href="index.html#team" class="nav-link">Our Team</a></li>
                            <li><a href="index.html#facts" class="nav-link">Fun Facts</a></li>
                        </ul>
                    </li>
                    <!-- Link -->
                    <li><a href="index.html#projects" class="nav-link">Projects</a></li>
                    <!-- Link -->
                    <li><a href="index.html#works" class="nav-link">Works</a></li>
                    <!-- Link -->
                    <li><a href="index.html#steps" class="nav-link">Steps</a></li>
                    <!-- Link -->
                    <li><a href="index.html#skills" class="nav-link">Skills</a></li>
                    <!-- Link -->
                    <li><a href="index.html#prices" class="nav-link">Prices</a></li>
                    <!-- Link, Sub menu -->
                    <li class="has-sub">
                        <a href="#" class="nav-link stay">Extras</a>
                        <ul class="dropdown-menu to-left">
                            <li class="has-sub">
                                <a routerLink="elements-accordions" class="nav-link">Elements</a>
                                <ul class="dropdown-menu to-right">
                                    <li><a routerLink="elements-accordions" class="nav-link">Accordions</a></li>
                                    <li><a href="elements-animated-icons.html" class="nav-link">Animated Icons</a></li>
                                    <li><a href="elements-announcements.html" class="nav-link">Announcements</a></li>
                                    <li><a href="elements-form-validations.html" class="nav-link">Form Validations</a></li>
                                    <li><a href="elements-hotspots.html" class="nav-link">Hotspots On Products</a></li>
                                    <li><a href="elements-icons-line.html" class="nav-link">Line Icons</a></li>
                                    <li><a href="elements-icons-solid.html" class="nav-link">Solid Icons</a></li>
                                    <li><a href="elements-megamenu.html" class="nav-link">Mega Menus</a></li>
                                    <li><a href="elements-sliders.html" class="nav-link">Sliders</a></li>
                                    <li><a href="elements-tabs.html" class="nav-link">Tabs</a></li>
                                    <li><a href="elements-typography.html" class="nav-link">Typography</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="blog-classic.html" class="nav-link">Blog</a>
                                <ul class="dropdown-menu to-right">
                                    <li><a href="blog-classic.html" class="nav-link">Blog Classic</a></li>
                                    <li><a href="blog-classic-with-hero.html" class="nav-link">Blog Classic With Hero</a></li>
                                    <li><a href="blog-column-2.html" class="nav-link">Blog Column 2</a></li>
                                    <li><a href="blog-column-3.html" class="nav-link">Blog Column 3</a></li>
                                    <li><a href="blog-single-01.html" class="nav-link">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="portfolio-single-column-4-wide.html" class="nav-link">Portfolio</a>
                                <ul class="dropdown-menu to-right">
                                    <li><a href="portfolio-single-column-2.html" class="nav-link">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio-single-column-3.html" class="nav-link">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio-single-column-4.html" class="nav-link">Portfolio 4 Column</a></li>
                                    <li><a href="portfolio-single-column-5.html" class="nav-link">Portfolio 5 Column</a></li>
                                    <li><a href="portfolio-single-column-6.html" class="nav-link">Portfolio 6 Column</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="project-01.html" class="nav-link">Projects</a>
                                <ul class="dropdown-menu to-right">
                                    <li><a href="project-01.html" class="nav-link">Single Project 1</a></li>
                                    <li><a href="project-02.html" class="nav-link">Single Project 2</a></li>
                                    <li><a href="project-03.html" class="nav-link">Single Project 3</a></li>
                                    <li><a href="project-04.html" class="nav-link">Single Project 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Link -->
                    <li><a href="index.html#contact" class="nav-link">Contact</a></li>
                    <!-- Link -->
                    <li class="bracket align-self-center"></li>
                    <!-- Extra Links -->
                    <li class="extra-links">
                        <a href="#" class="nav-link search-form-trigger"><i class="fas fa-search"></i></a>
                    </li>
                </ul>
                <!-- End Navigation links -->
                <div class="mobile-nav-closer"><i class="ti-close"></i></div>
            </div>
            <!-- End Column for Navigation -->
            <div class="mobile-nb">
                <div class="hamburger-menu">
                    <div class="top-bun"></div>
                    <div class="meat"></div>
                    <div class="bottom-bun"></div>
                </div>
            </div>
        </div>
        <!-- End Row for cols in the nav -->
    </div>
    <!-- End Navigation container -->
    <div class="mobile-nav-bg"></div>
</nav>
<!-- End Navigation -->