
    <!-- Footer -->
    <footer id="footer" class="bg-dark">
        <!-- Footer inner -->
        <div class="footer-inner container">
            
            <!-- Row -->
            <div class="row">

                <!-- Left, slider controls -->
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="slider-buttons font-secondary">
                        <a href="#" class="slide-changer" data-go-slide="1">about Zeplin</a>
                        <a href="#" class="slide-changer" data-go-slide="2">subscribe us</a>
                        <a href="#" class="slide-changer" data-go-slide="3">Social feed</a>
                    </div>
                </div>
                <!-- End Left, slider controls -->

                <!-- Recommended Links -->
                <div class="col-lg-3 col-sm-6 text-sm-right text-lg-left col-12">
                    <div class="footer-list">
                        <h4 class="footer-title font-secondary">Recommended Links</h4>
                        <a href="#">Rainy Day Effect</a>
                        <a href="#">FS Slider Version</a>
                        <a href="#">Image Background Demo</a>
                        <a href="#">Video BG & Dark Color Scheme</a>
                        <a href="#">Exclusive Particle Background Version</a>
                        <a href="#">Beautiful Revolution Slider Version</a>
                    </div>
                </div>
                <!-- End Recommended Links -->

                <!-- About Company -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footer-list">
                        <h4 class="footer-title font-secondary">
                            About Company
                        </h4>
                        <a href="#about">About Us</a>
                        <a href="#history">Our History</a>
                        <a href="#works">Our Portfolio</a>
                    </div>
                </div>
                <!-- End About Company -->

                <!-- Right, footer slider -->
                <div class="col-lg-4 col-sm-6 col-12 ml-auto text-sm-right">
                    <!-- Website logo -->
                    <div class="website-logo">
                        <img src="assets/images/logos/logo-footer.png" alt="footer website logo">
                    </div>

                    <!-- Start Footer Slider -->
                    <div id="footer-slider" class="footer-slider mt-5">
                        <!-- Wrapper for slides -->
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="footer-about">
                                        <h4 class="title font-secondary">About Our Company</h4>
                                        <p class="desc">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout it opposed to using
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div id="footer-newsletter" class="footer-newsletter">
                                        <form id="newsletter-form" name="newsletter-form" class="newsletter-form" method="post" action="php/newsletter.php">
                                            <input type="email" name="n-email" id="n-email" required placeholder="Add your E-Mail address">
                                            <button type="submit" id="n-submit" name="submit" class="send-button">SUBSCRIBE</button>
                                        </form>
                                        <div class="success-message">
                                            <h4 class="title font-secondary">Thank you!</h4>
                                            <p class="desc">
                                                Your subscription is successfully! <br>
                                                Thanks for being part of the community.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="footer-socials">
                                        <a href="#" class="footer-icon facebook"><i class="ti-facebook"></i></a>
                                        <a href="#" class="footer-icon twitter"><i class="ti-twitter-alt"></i></a>
                                        <a href="#" class="footer-icon tumblr"><i class="ti-tumblr-alt"></i></a>
                                        <a href="#" class="footer-icon pinterest"><i class="ti-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Slide -->
                        </div>
                        <!-- End Wrapper for slides -->
                        <!-- Navigations for project slider -->
                        <div class="footer-dots"></div>
                    </div>
                    <!-- End Footer Slider -->

                </div>
                <!-- End Right, footer slider -->
            </div>
            <!-- End Row -->

        </div>
        <!-- End Footer inner -->

        <!-- Footer Bottom -->
        <div class="footer-bottom container text-center">
            <div class="row">
                <!-- Left -->
                <div class="col-lg col-12 text-lg-left">
                    <p>© Zeplin 2022. Made with love.</p>
                </div>
                <!-- Right -->
                <div class="col-lg col-12 ml-auto text-lg-right">
                    <p>Powered By <a href="https://www.templatemonster.com/authors/goldeyes/" target="_blank"> Elite Author </a></p>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->

    </footer>
    <!-- End Footer -->