
    <!-- Start Pagetitle -->
    <section id="pagetitle" class="pagetitle pagetitle-md">
        <!-- Pagetitle Wrapper -->
        <div class="pagetitle-wrapper container text-center">
            <div class="row align-items-center text-white">
                <div class="col-md col-12 text-md-left">
                    <h2 class="title font-secondary text-uppercase">
                        Accordions
                    </h2>
                </div>
                <div class="col-md col-12 ml-auto text-md-right breadcrumbs">
                    <a >home</a>
                    <div class="seperator">/</div>
                    <a >Elements</a>
                    <div class="seperator">/</div>
                    <div class="active">Accordions</div>
                </div>
            </div>
        </div>
        <!-- End Pagetitle Wrapper -->
    </section>
    <!-- End Pagetitle -->





    <!-- Elements -->
    <section id="elements-tab1" class="elements">
        
        <!-- Elements Wrapper -->
        <div class="elements-wrapper container section-inner text-left">
            
            <!-- Row -->
            <div class="row text-left justify-content-center">

                <!-- Col -->
                <div class="col-md-8 col-12">
                    <!-- Accordion -->
                    <div id="one" class="accordions">
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header" data-toggle="collapse" data-target="#one-1" aria-expanded="true" aria-controls="one-1" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">First Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="one-1" class="collapse show" data-parent="#one">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#one-2" aria-expanded="true" aria-controls="one-2" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">Second Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="one-2" class="collapse" data-parent="#one">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#one-3" aria-expanded="true" aria-controls="one-3" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">Third Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="one-3" class="collapse" data-parent="#one">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->

                    </div>
                    <!-- End Accordion -->
                </div>
                <!-- End Col -->

            </div>
            <!-- End Row -->

        </div>
        <!-- End Elements Wrapper -->

    </section>
    <!-- End Elements -->


    <!-- Elements -->
    <section id="elements-tab2" class="elements section-dark bg-dark">

        <!-- Elements Wrapper -->
        <div class="elements-wrapper container section-inner text-left">
            
            <!-- Row -->
            <div class="row text-left justify-content-center">

                <!-- Col -->
                <div class="col-md-8 col-12">
                    <!-- Accordion -->
                    <div id="two" class="accordions">
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header" data-toggle="collapse" data-target="#two-1" aria-expanded="true" aria-controls="two-1" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase"><i class="fas fa-book"></i>First Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="two-1" class="collapse show" data-parent="#two">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#two-2" aria-expanded="true" aria-controls="two-2" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase"><i class="fas fa-air-freshener"></i>Second Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="two-2" class="collapse" data-parent="#two">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#two-3" aria-expanded="true" aria-controls="two-3" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase"><i class="fas fa-briefcase"></i>Third Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="two-3" class="collapse" data-parent="#two">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->

                    </div>
                    <!-- End Accordion -->
                </div>
                <!-- End Col -->



            </div>
            <!-- End Row -->

        </div>
        <!-- End Elements Wrapper -->



    </section>
    <!-- End Elements -->




    <!-- Elements -->
    <section id="elements-tab3" class="elements">
        
        <!-- Elements Wrapper -->
        <div class="elements-wrapper container section-inner text-left">
            
            <!-- Row -->
            <div class="row text-left justify-content-center">

                <!-- Col -->
                <div class="col-md-8 col-12">
                    <!-- Accordion -->
                    <div id="three" class="accordions">
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header" data-toggle="collapse" data-target="#three-1" aria-expanded="true" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">First Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="three-1" class="collapse show">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#three-2" aria-expanded="true" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">Second Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="three-2" class="collapse">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#three-3" aria-expanded="true" role="button">
                                <h5 class="font-secondary ls-md font-weight-normal text-uppercase">Third Item</h5>
                                <span class="ti-angle-up"></span>
                            </div>
                            <!-- Content -->
                            <div id="three-3" class="collapse">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        <!-- End Card -->

                    </div>
                    <!-- End Accordion -->
                </div>
                <!-- End Col -->

            </div>
            <!-- End Row -->

        </div>
        <!-- End Elements Wrapper -->

    </section>
    <!-- End Elements -->