 <!-- Start Home -->
 <section id="home" class="home version5 fullscreen">
        
    <!-- Background of slide -->
    <div class="bg-parallax" data-background="assets/images/backgrounds/background_03.jpg" data-anchor-target="#home" data-0="transform:translate3d(0, 0px, 0px);" data-900="transform:translate3d(0px, 250px, 0px);"></div>

    <!-- Start inner -->
    <div class="home-inner text-center" data-0="transform:translate3d(0, 0px, 0px); opacity: 1;" data-450="transform:translate3d(0px, 125px, 0px); opacity: 0;">

        <!-- Home subtitle -->
        <h5 class="home-subtitle font-secondary">Timeless Beauty</h5>

        <!-- Slider -->
        <div id="home-text-slider" class="home-text-slider container">
            <!-- Wrapper for slides -->
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Title -->
                    <h2 class="home-title font-secondary">The timeless beauty of creativity</h2>
                </div>
                <!-- End Slide -->
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Title -->
                    <h2 class="home-title font-secondary">
                        Beautiful Template For Profesionals
                    </h2>
                </div>
                <!-- End Slide -->
            </div>
            <!-- End Wrapper for slides -->
        </div>
        <!-- End Slider -->
        <!-- Navigations for project slider -->
        <div class="home-navigations">
            <!-- Previous svg button -->
            <div class="slider-button home-text-slider-prev svg-colored-stroke-hover svg-colored-hover">
                <svg id="home-left-arrow" width="79px" height="9px" viewBox="0 0 79 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g transform="translate(-866.000000, -8072.000000)" fill-rule="nonzero">
                        <g transform="translate(-715.000000, 7092.000000)">
                            <path d="M1590.25,984 L1659.5,984 L1660,984 L1660,985 L1659.5,985 L1590.25,985 L1590.25,989 L1581.25,984.5 L1590.25,980 L1590.25,984 Z"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <!-- Next svg button -->
            <div class="slider-button home-text-slider-next svg-colored-stroke-hover svg-colored-hover">
                <svg id="home-right-arrow" width="79px" height="9px" viewBox="0 0 79 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g transform="translate(-988.000000, -8054.000000)" fill-rule="nonzero">
                        <g transform="translate(-715.000000, 7092.000000)">
                            <path d="M1772.75,967 L1703.5,967 L1703,967 L1703,966 L1703.5,966 L1772.75,966 L1772.75,962 L1781.75,966.5 L1772.75,971 L1772.75,967 Z"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <!-- End Navigations for project slider -->
    </div>
    <!-- End inner -->
    <!-- Play-pause button -->
    <div class="play-sound play-button paused">
        <div data-0="transform:translate3d(0, 0px, 0px); opacity: 1;" data-450="transform:translate3d(0px, 20px, 0px); opacity: 0;">
            <!-- SVG elements for button -->
            <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" stroke="#FFFFFF" transform="translate(-8.000000, -8.000000)">
                    <!-- fixed circle -->
                    <circle opacity="0.5" cx="29" cy="29" r="20"></circle>
                    <!-- Circle - animating with hover -->
                    <path class="animating" d="M29,49 C40.045695,49 49,40.045695 49,29 C49,17.954305 40.045695,9 29,9 C17.954305,9 9,17.954305 9,29 C9,40.045695 17.954305,49 29,49 Z" transform="translate(29.000000, 29.000000) rotate(180.000000) translate(-29.000000, -29.000000) "></path>
                    <!-- Pause lines -->
                    <rect class="playing" opacity="0.5" x="24.6" y="20.7" width="1" height="16" rx="0.5"></rect>
                    <rect class="playing" opacity="0.5" x="31.6" y="20.7" width="1" height="16" rx="0.5"></rect> 
                    <!-- Play triangle -->
                    <polyline class="paused" fill="#fff" stroke="none" opacity="0.5" points="25 22 34.3019094 29.4082224 25 36.8035437"></polyline> 
                </g>
            </svg>
            <!-- End SVG elements for button -->
        </div>
        <!-- Audio for sound effect - you can set the volume at bottom of the page -->
        <audio id="particlesSound">
            <source src="assets/images/sound/particles.mp3" type="audio/mp3">
        </audio>
        <!-- End Audio -->
    </div>
    <!-- End Play-pause button -->

</section>
<!-- End Home -->