<body>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
 <!-- Website loader - you can add/remove bg-dark for dark/white loader -->
 <div class="pageloader bg-dark">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
        <div class="loader-line"></div>
    </div>
</div>

<!-- SEARCH FORM FOR NAV -->
<div class="fs-searchform">
    <div class="search-inner align-self-center">
        <form id="fs-searchform" action="#" method="get">
            <!-- Input -->
            <input type="search" name="q" id="q" placeholder="Search on website.com" autocomplete="off">
            
        </form>
        <div class="recommended">
            <h5 class="rcm-title">Recommend Links;</h5>
            <a href="#">FullScreen Dark Demo</a>
            <a href="#">Video Background Demo</a>
            <a href="#">Full Width Slider Demo</a>
            <a href="#">Rainny Day Demo</a>
        </div>
    </div>
    <div class="form-bg"></div>
</div>
<!-- END SEARCH FORM -->

</body>